<nav class="navbar">

    <ul class="navbar-nav">
        
        <li class = "nav-item">
            <h1><a class="navbar-brand" routerLink="/">Limeade</a></h1>
        </li>
      <li  *ngIf="!api.loggedIn" class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="!api.loggedIn"  class="nav-item">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="api.loggedIn" class = "nav-item" >
        <div (click)="logout()">Logout</div>
      </li>
    </ul>
  </nav>