.large-event-card {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
