.button-bar {
  margin-left: auto;
  margin-right: 0;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 20px;
}

.button-bar button {
  margin-right: 10px;
}

.button-bar .selected {
  background-color: var(--color-secondary);
}

.event-body {
  justify-content: center;
  padding: 32px 16px 16px 16px;
}

.event-card {
  flex: 1 1 300px;
}

.large-event-container {
  height: 50%;
  min-height: min(300px, 80vh);
}

.small-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 0px 8px 0px;
}
