<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <label for="eventName">Event Name</label>
  <input type="text" formControlName="eventName" id="eventName" required />

  <label for="eventDescription">Description</label>
  <textarea
    formControlName="eventDescription"
    id="eventDescription"
    required
  ></textarea>

  <label for="eventDate">Date</label>
  <input
    type="datetime-local"
    formControlName="eventDate"
    id="eventDate"
    min="2000-01-01T00:00"
    required
  />

  <label for="eventLocation">Location</label>
  <input
    type="text"
    formControlName="eventLocation"
    id="eventLocation"
    required
  />
  <ng-container *ngIf="interests.length > 0">
    <label for="eventTypes">Event Type</label>
    <ng-container formArrayName="eventTypes">
      <select
        *ngFor="let control of eventTypes.controls; let i = index"
        [formControlName]="i"
      >
        <option *ngFor="let interest of interests" [value]="interest">
          {{ interest.replace(sRegex, "") }}
        </option>
      </select>
      <button
        type="button"
        class="add-interest-button"
        [disabled]="eventTypes.length === interests.length"
        (click)="addRelatedInterest()"
      >
        <fa-icon id="add-interest-icon" icon="plus" size="2x"></fa-icon>
      </button>
    </ng-container>
  </ng-container>

  <div class="error" *ngIf="eventForm.invalid">
    Please fill in all required fields.
  </div>

  <button type="submit">Submit</button>
  <div class="error">
    {{ error }}
  </div>
</form>
