<ng-container *ngIf="events">
  <h2>Recommended Events</h2>
  <div class="carousel-container">
    <div *ngFor="let event of events" class="slide hidden slideAnimation">
      <app-large-event-card [event]="event"></app-large-event-card>
    </div>

    <div
      *ngIf="events.length === 0"
      class="slide hidden slideAnimation no-events"
    >
      No events available. Add more interests to your profile!
    </div>

    <button class="prev" (click)="changeSlide(-1)">
      <fa-icon icon="chevron-left" size="2x"></fa-icon>
    </button>
    <button class="next" (click)="changeSlide(1)">
      <fa-icon icon="chevron-right" size="2x"></fa-icon>
    </button>
  </div>
  <br />

  <div class="dot-container">
    <ng-container *ngFor="let event of events; let i = index">
      <span class="dot" (click)="showSlide(i)"></span>
    </ng-container>
  </div>
</ng-container>
