.search-container {
    position: relative;
    margin: 0px 20px;
  }
  
  .clear-btn {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
  }
  