<div class="event-info-card">
  <h2 class="row-spacing">{{ event.eventName }}</h2>
  <div class="row">
    <label>Date</label>
    <div class="field">{{ event.eventDate }}</div>
    <label>Location</label>
    <div class="field">{{ event.eventLocation }}</div>
  </div>
  <div class="row">
    <label>Owner</label>
    <div class="field">{{ user.username }}</div>
  </div>
  <div class="row">
    <label>{{
      event.eventTypes.length > 1 ? "Event Types" : "Event Type"
    }}</label>
    <div class="field-small type" *ngFor="let interest of event.eventTypes">
      {{ interest.replace(sRegex, "") }}
    </div>
  </div>
  <label>Description</label>
  <div class="field row-spacing">{{ event.eventDescription }}</div>
  <div class="row">
    <label>Interested Users</label>
    <div
      class="field-small user"
      *ngFor="let username of userInterestedUsernames"
    >
      {{ username }}
    </div>
  </div>
  <button *ngIf="!userJoined" (click)="joinEvent()">Join</button>
  <button *ngIf="userJoined" (click)="leaveEvent()">Leave</button>
</div>
