<div class="event-info-card">
  <h2 class="row-spacing">{{ event.eventName }}</h2>
  <div class="row">
    <label>Date</label>
    <div class="field">{{ event.eventDate }}</div>
    <label>Location</label>
    <div class="field">{{ event.eventLocation }}</div>
  </div>
  <div class="row">
    <label>Owner</label>
    <div class="field">{{ user.username }}</div>
  </div>
  <div class="row">
    <label>{{
      event.eventTypes.length > 1 ? "Event Types" : "Event Type"
    }}</label>
    <div *ngIf="event.eventTypes.length === 0" class="field">N/A</div>
    <div class="field-small type" *ngFor="let interest of event.eventTypes">
      {{ interest.replace(sRegex, "") }}
    </div>
  </div>
  <label>Description</label>
  <div class="field row-spacing">{{ event.eventDescription }}</div>
  <div class="row">
    <label>Interested Users</label>
    <div
      class="field-small user"
      *ngFor="let user of interestedUsers"
    >
      {{ user.username }}
    </div>
  </div>
  <app-interest-filter-form (selected)="filterUsersByInterest($event)"></app-interest-filter-form>
  <button *ngIf="!userJoined" (click)="joinEvent()">Join</button>
  <button *ngIf="userJoined" (click)="leaveEvent()">Leave</button>
  <form (submit)="sendInvite()">
    <input type = 'text' [(ngModel)]="invUsername" name="invUsername" placeholder="enter your friend's username">
    <button type = 'submit'>Send Invite</button>
    <p [(ngModel)]="inviteError" name = "inviteError"></p>
    <p [(ngModel)]="inviteFeedback" name = "inviteFeedback"></p>
  </form>
</div>
