.event-info-card {
  margin: 0px 20px;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.event-info-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.row {
  margin-bottom: 10px;
  align-items: center;
}

label {
  margin-right: 5px;
  font-weight: bold;
}

label::after {
  content: ":";
}

.field {
  margin-right: 20px;
}

#eventInfoName {
  font-size: 1.8em;
  font-weight: bold;
}

button {
  margin-top: 0px;
  padding: 4px;
  border: 1px solid var(--color-base);
}

.users {
  padding: 5px;
  background-color: lightcoral;
  border: 1px solid var(--color-base);
  color: var(--color-base);
}